
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Temperature and Humidity Controller</title>
    <link rel="stylesheet" href="/static/style.css" /> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <script src="/static/menu.js"></script>
    <h1>Climate Management</h1>
    <h2>Set Target Temperature and Humidity</h2>
    <form id="settingsForm">
        <label for="temperature">Target Temperature (°C):</label>
        <input type="number" id="temperature" required>

        <label for="humidity">Target Humidity (%):</label>
        <input type="number" id="humidity" required>

        <button type="submit">Set</button>
        <span id="alert"></span>
    </form>
    

    <h3>Current Values</h3>
    <p>Current Temperature: <span id="currentTemperature">N/A</span> °C</p>
    <p>Current Humidity: <span id="currentHumidity">N/A</span> %</p>
    <p>Target Temperature: <span id="targetTemperature">N/A</span> °C</p>
    <p>Target Humidity: <span id="targetHumidity">N/A</span> %</p>

    <h2>Manage Fermentations</h2>
    <form id="fermentationForm">
        <input type="hidden" id="fermentationId">

        <label for="fermentationName">Name:</label>
        <input type="text" id="fermentationName" required>

        <label for="fermentationTemperature">Temperature (°C):</label>
        <input type="number" id="fermentationTemperature" required>

        <label for="fermentationHumidity">Humidity (%):</label>
        <input type="number" id="fermentationHumidity" required>

        <label for="fermentationDuration">Duration (days):</label>
        <input type="number" id="fermentationDuration" required>

        <label for="fermentationStartDate">Start Date:</label>
        <input type="datetime-local" id="fermentationStartDate" required>

        <label for="fermentationEndDate">End Date:</label>
        <input type="datetime-local" id="fermentationEndDate" required>

        <button type="submit">Save Fermentation</button>
    </form>

    <h3>Fermentations List</h3>
    <table id="fermentationsTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Temperature (°C)</th>
                <th>Humidity (%)</th>
                <th>Duration (days)</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="fermentationsBody"></tbody>
    </table>

    <script>
       
        const settingsForm = document.getElementById('settingsForm');
        const fermentationForm = document.getElementById('fermentationForm');
        const fermentationsTable = document.getElementById('fermentationsBody');

        // Fetch current values
        function fetchCurrentValues() {
            fetch('/api/current')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('currentTemperature').innerText = data.temperature;
                    document.getElementById('currentHumidity').innerText = data.humidity;
                })
                .catch(error => console.error('Error fetching current values:', error));
            fetch('/api/target')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('targetTemperature').innerText = data.temperature;
                    document.getElementById('targetHumidity').innerText = data.humidity;
                })
                .catch(error => console.error('Error fetching current values:', error));
        }
        settingsForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const temperature = document.getElementById('temperature').value;
            const humidity = document.getElementById('humidity').value;

            fetch('/api/target', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ temperature: temperature, humidity: humidity }),
            })
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                document.getElementById('alert').innerText = 'Target settings updated!';
                // Reset the form after submission
                settingsForm.reset();
                fetchCurrentValues(); // Refresh current values
            })
            .catch(error => console.error('There was a problem with the update request:', error));
        });

        // Fetch fermentations
        function fetchFermentations() {
            fetch('api/fermentation/')
                .then(response => response.json())
                .then(data => {
                    renderFermentations(data);
                })
                .catch(error => console.error('Error fetching fermentations:', error));
        }

        // Render fermentations in the table
        function renderFermentations(fermentations) {
            fermentationsTable.innerHTML = '';
            if(fermentations.length === 0) {
                const row = document.createElement('tr');
                row.innerHTML = `<td colspan="7">No fermentations found</td>`;
                fermentationsTable.appendChild(row);
                return;
            }
            fermentations.forEach(fermentation => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${fermentation.name}</td>
                    <td>${fermentation.temperature}</td>
                    <td>${fermentation.humidity}</td>
                    <td>${fermentation.duration}</td>
                     <td>${new Date(fermentation.startDate).toLocaleString()}</td>
                    <td>${new Date(fermentation.endDate).toLocaleString()}</td>
                    <td>
                        <button onclick="editFermentation(${fermentation.id})">Edit</button>
                        <button onclick="deleteFermentation(${fermentation.id})">Delete</button>
                        <button onclick="setTargetValues(${fermentation.temperature}, ${fermentation.humidity})">Set Target</button>
                    </td>
                `;
                fermentationsTable.appendChild(row);
            });
        }

        // Set target temperature and humidity based on fermentation
        function setTargetValues(temperature, humidity) {
            document.getElementById('temperature').value = temperature;
            document.getElementById('humidity').value = humidity;
        }

        // Edit fermentation
        function editFermentation(id) {
            fetch(`/api/fermentation/${id}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('fermentationId').value = data.id;
                    document.getElementById('fermentationName').value = data.name;
                    document.getElementById('fermentationTemperature').value = data.temperature;
                    document.getElementById('fermentationHumidity').value = data.humidity;
                    document.getElementById('fermentationDuration').value = data.duration;
                    document.getElementById('fermentationStartDate').value = new Date(data.startDate).toISOString().slice(0, 16);
                    document.getElementById('fermentationEndDate').value = new Date(data.endDate).toISOString().slice(0, 16);
                })
                .catch(error => console.error('Error fetching fermentation:', error));
        }

        // Delete fermentation
        function deleteFermentation(id) {
            fetch(`/api/fermentation/${id}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (response.ok) {
                    fetchFermentations(); // Refresh the list
                } else {
                    throw new Error('Failed to delete fermentation');
                }
            })
            .catch(error => console.error('Error deleting fermentation:', error));
        }

        // Submit fermentation form
        fermentationForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const id = document.getElementById('fermentationId').value;
            const name = document.getElementById('fermentationName').value;
            const temperature = document.getElementById('fermentationTemperature').value;
            const humidity = document.getElementById('fermentationHumidity').value;
            const duration = document.getElementById('fermentationDuration').value;
            const startDate = new Date(document.getElementById('fermentationStartDate').value).toISOString();
            const endDate = new Date(document.getElementById('fermentationEndDate').value).toISOString();

            const method = id ? 'PUT' : 'POST'; // Use PUT if id exists, otherwise POST
            const url = id 
                ? `/api/fermentation/${id}`
                : '/api/fermentation';

            fetch(url, {
                method: method,
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ name, temperature, humidity, duration, startDate, endDate }),
            })
            .then(response => {
                if (response.ok) {
                    fetchFermentations(); // Refresh the list
                    fermentationForm.reset(); // Reset the form
                } else {
                    throw new Error('Failed to save fermentation');
                }
            })
            .catch(error => console.error('Error saving fermentation:', error));
        });

        // Poll current values every 10 seconds
        setInterval(fetchCurrentValues, 10000);

        // Initial fetch
        fetchCurrentValues();
        fetchFermentations();

        
    </script>
</body>
</html>